<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
    <listeners>
        <listener class-name="TestNG.utils.Listeners.TestListener"/>
        <listener class-name="TestNG.utils.Listeners.AnnotationTransformer"/>
    </listeners>

    <test name="TestNGTests">
        <classes>
	 	    <class name="TestNG.framework.RestAssuredConfiguration"/>
            <class name="TestNG.tests.IHS_EMAP_WSRest_Tests"/>
        </classes>
    </test>
</suite>